.main{
  min-height: 80vh;
}
.hero-container .hero-wrapper {
  max-width: unset;
  padding: 0;
}

.hero {
  min-height: 485px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.hero > div:last-child{
  padding: 30px;
}

.hero h1{
  font-family: ChronicleDisplay-Roman;
  font-size: 28px;
  line-height: 36px;
  font-weight: 400;
  letter-spacing: 0; 
  color: var(--text-color);
}

.hero h3{
  color: var(--text-color);
  font-size:  28px;
}

.hero p{
  font-size: 18px;
  color: var(--text-color);
  line-height: 24px;
}

.hero picture {
  z-index: 1;
  inset: 0;
  object-fit: cover;
  box-sizing: border-box;
}

.hero img {
  aspect-ratio: auto 828 / 939;
}

@media (width >= 900px) {
  .hero { 
    position: relative;
    padding: 40px 24px;
    min-height: 300px;
  }
  .hero > div:last-child{
    padding: 30px;
    margin-top: 100px;
  }
  .hero h1,
  .hero h3,
  .hero p{
    color: var(--background-color);
  }
  .hero h1{
    font-size: 64px;
    line-height: 66px;
    max-width: 480px;
  }
  .hero h3{   
    font-size:  28px;
  }
  
  .hero p{
    font-size: 18px;   
    line-height: 24px;
  }
  .hero picture{
    position: absolute;
    z-index: -1;
    inset: 0;
    object-fit: cover;
    box-sizing: border-box;
  }
  .hero img {
    aspect-ratio: auto 2646 / 1672;
  }
}